@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #cccccc;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    
}
.container{
    max-width: 1200px;
    margin: 20px 30px;
}

.box{
    display: flex;
    padding: 30px;
    border-radius: 10px;
    height: 450px;
    background-color: whitesmoke;
}

.sub-info{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
}
.sub-info-img{
    width: 24px;
}

.side-box{
    margin-top: 20px;
   
    max-width: 200px;
    border-radius: 8px;
    background-image: url(images/City.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 32px;
}

.side-box p{
    color: whitesmoke;
    text-align: center;
}

.side{
    max-width: 300px;
}


.side-input{
    display: flex;
    align-items: center;
    gap: 5px;
}
.inpt{
    border: none;
    border-radius: 5px;
    padding: 5px;
    outline: none;
}

.inpt::placeholder{
    color: black;
    font-size: 12px;
}

.main{
    width: 550px;
    margin-left: 40px;
    
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.links a{
    text-decoration: none;
    color: black;
}

.links a:hover{
    border-bottom: 1px solid black;
    transition: all ease-in;
}


.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.btn{
    border: none;
    border-radius: 50%;
    background-color: black;
    color: whitesmoke;
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.content-info{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 2 колонки одинаковой ширины */
    grid-template-rows: repeat(2, 1fr);   /* 3 строки одинаковой высоты */
    gap: 10px;
    margin-top: 70px;
}
.content-card{
    border: 2px solid #222;
    width: 120px;
    height: 100px;
    border-radius: 10px;
    padding: 5px;
}


.content-img{
    width: 20px;
}

.content-title{
    font-size: 10px;
    color: grey;
}

.content-sub-title{
    margin-top: 15px;
}

