 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:ital,wght@1,500&display=swap');


 * {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
 }

 body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #708090;
 }
 .img {
    position: relative;
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: black;
    padding: 3px;
    margin-bottom: 10px;
 }

 .img .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
 }

 .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    width: 100%;
    background-color: #E6E6FA;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    padding: 25px;
 }

 .profile .text {
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .text .name {
    font-size: 22px;
    font-weight: 500;
 }

 .text .job {
    font-size: 15px;
    font-weight: 400;
 }

 .profile .buttons {
    display: flex;
    align-items: center;
    margin-top: 15px;
 }

 .buttons .link {
    text-decoration: none;
    background-color: black;
    color: white;
    font-size: 18px;
    margin: 0 8px;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .profile .but {
    display: flex;
    align-items: center;
    margin-top: 20px;
 }

 .but .button {
    background-color: #E6E6FA;
    padding: 8px 24px;
    margin: 0 10px;
    border-radius: 24px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease;
 }

 .but .button:hover{
    background-color: #F5F5F5;
 }

 .profile .analitika {
    display: flex;
    align-items: center;
    margin-top: 20px;
 }

 .analitika .data {
    padding: 0 20px;
    display: flex;
    align-items: center;
    border-right: 2px solid gray;
 }

 .data:last-child{
    border-right: none;
 }

 .data i {
    font-size: 18px;
    margin: 6px;
 }